# For normal and quick purpose
# version: "3.8"
# services:
#   db1:
#     image: postgres:16
#     container_name: stress_postgres_1
#     restart: always
#     environment:
#       POSTGRES_USER: stressuser
#       POSTGRES_PASSWORD: stresspass
#       POSTGRES_DB: stressdb
#       max_connections: 500
#     ports:
#       - "5432:5432" 
#     volumes:
#       - pgdata1:/var/lib/postgresql/data
#     command: postgres -c max_connections=200
#     #deploy:
#      # resources:
#       #  limits:
#        #   cpus: '4.0'
#     cpuset: "0-1"
#     mem_limit: 500m 
  
#   db2:
#     image: postgres:16
#     container_name: stress_postgres_2
#     restart: always
#     environment:
#       POSTGRES_USER: stressuser
#       POSTGRES_PASSWORD: stresspass
#       POSTGRES_DB: stressdb
#       max_connections: 500 
#     ports:
#       - "5433:5432" 
#     volumes:
#       - pgdata2:/var/lib/postgresql/data 
#     command: postgres -c max_connections=200
#     #deploy:
#      # resources:
#       #  limits:
#        #   cpus: '4.0'
#     cpuset: "2-3" # Changed to a different cpuset
#     mem_limit: 500m 

# volumes:
#   pgdata1:
#   pgdata2:
#////////////////////////////////////////////////////

# For special and throttle purpose
version: "3.8"

services:
  db1:
    image: postgres:16
    container_name: stress_postgres_1
    restart: always
    environment:
      POSTGRES_USER: stressuser
      POSTGRES_PASSWORD: stresspass
      POSTGRES_DB: stressdb
    ports:
      - "5432:5432"
    volumes:
      - /mnt/loop1/pgdata1:/var/lib/postgresql/data
    devices:
      - "/dev/loop0:/dev/loop0"
    command: postgres -c max_connections=500 
    cpuset: "0-1"
    mem_limit: 500m

  db2:
    image: postgres:16
    container_name: stress_postgres_2
    restart: always
    environment:
      POSTGRES_USER: stressuser
      POSTGRES_PASSWORD: stresspass
      POSTGRES_DB: stressdb
    ports:
      - "5433:5432"
    volumes:
      - /mnt/loop1/pgdata2:/var/lib/postgresql/data
    devices:
      - "/dev/loop0:/dev/loop0"
    command: postgres -c max_connections=500 
    cpuset: "2-3"
    mem_limit: 500m

# /////////////////////////////////////////////////////////////////////////////////////

# Optimization (Replicated)

# version: '3.8'

# services:
#   db1:
#     image: postgres:16
#     container_name: stress_postgres_1
#     restart: always
#     environment:
#       POSTGRES_USER: stressuser
#       POSTGRES_PASSWORD: stresspass
#       POSTGRES_DB: stressdb
#     ports:
#       - "5432:5432"
#     volumes:
#       - /mnt/loop1/pgdata1:/var/lib/postgresql/data
#       - ./init-db1.sql:/docker-entrypoint-initdb.d/init-db1.sql
#     devices:
#       - "/dev/loop0:/dev/loop0"
#     command: >
#       postgres -c wal_level=logical
#                -c max_connections=500
#                -c max_wal_senders=10
#                -c max_replication_slots=10
#     cpuset: "0-1"
#     mem_limit: 500m

#   db2:
#     image: postgres:16
#     container_name: stress_postgres_2
#     restart: always
#     environment:
#       POSTGRES_USER: stressuser
#       POSTGRES_PASSWORD: stresspass
#       POSTGRES_DB: stressdb
#     ports:
#       - "5433:5432"
#     volumes:
#       - /mnt/loop1/pgdata2:/var/lib/postgresql/data
#       - ./init-db2.sql:/docker-entrypoint-initdb.d/init-db2.sql
#     devices:
#       - "/dev/loop0:/dev/loop0"
#     command: >
#       postgres -c wal_level=logical
#                -c max_connections=500
#                -c max_wal_senders=10
#                -c max_replication_slots=10
#     cpuset: "2-3"
#     mem_limit: 500m

#   db3:
#     image: postgres:16
#     container_name: stress_postgres_3
#     restart: always
#     environment:
#       POSTGRES_USER: stressuser
#       POSTGRES_PASSWORD: stresspass
#       POSTGRES_DB: stressdb
#     ports:
#       - "5434:5432"
#     depends_on:
#       - db1
#       - db2
#     volumes:
#       - /mnt/loop1/pgdata3:/var/lib/postgresql/data
#       - ./init-db3.sql:/docker-entrypoint-initdb.d/init-db3.sql
#     devices:
#       - "/dev/loop0:/dev/loop0"
#     command: >
#       postgres -c wal_level=logical
#                -c max_connections=500
#                -c max_wal_senders=10
#                -c max_replication_slots=10
#     cpuset: "15"
#     mem_limit: 500m
